<h2>{{ 'performance_history.wishlist_title' | translate }}</h2>

<table class="my-zebra-table" *ngIf="wishlist.length > 0; else noWishlist">
  <thead>
    <tr>
      <th>{{ 'performance_history.song' | translate }}</th>
      <th>{{ 'performance_history.artist' | translate }}</th>
      <th>{{ 'performance_history.key' | translate }}</th>
      <th>{{ 'performance_history.actions' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let song of wishlist">
      <td><input class="wishlist-input" [(ngModel)]="song.canzone" /></td>
      <td><input class="wishlist-input" [(ngModel)]="song.artista" /></td>
      <td><input class="wishlist-input" [(ngModel)]="song.tonalita" /></td>
      <td>
        <div class="action-buttons">
          <button class="btn-crud"
            (click)="salvaWishlist(song)"
            [disabled]="!song.canzone || !song.artista"
            [title]="'performance_history.fill_minimum_fields' | translate">
            {{ 'performance_history.save_button' | translate }}
          </button>
          <button class="btn-crud"
            (click)="rimuoviWishlist(song.id)"
            [title]="'performance_history.delete_from_wishlist' | translate">
            {{ 'performance_history.delete_button' | translate }}
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<a routerLink="/prenota-canzoni" class="btn-link mt-4">
  {{ 'performance_history.go_to_booking' | translate }}
</a>

<ng-template #noWishlist>
  <p>{{ 'performance_history.wishlist_empty' | translate }}</p>
</ng-template>

<button class="add-song-btn" (click)="aggiungiRiga()"> {{ 'performance_history.add_song' | translate }}</button>
