<div class="privacy-container">
  <h2>{{ 'privacy.title' | translate }}</h2>

  <div *ngIf="userData; else loadingOrError">
    <p><strong>{{ 'privacy.username' | translate }}:</strong> {{ userData.username }}</p>
    <p>
      <strong>{{ 'privacy.secret_question_label' | translate }}:</strong>
      {{ ('privacy.secret_questions.' + userData.domanda_recupero) | translate }}
    </p>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  </div>

    <ng-template #loadingOrError>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="!errorMessage">{{ 'privacy.loading_user_data' | translate }}</div>
  </ng-template>
</div>
<!-- Pulsante per tornare al profilo -->
    <div class="back-to-profile-btn text-center mt-3">
      <a routerLink="/user-profile" class="btn btn-primary">
        {{ 'privacy.btn-back profile' | translate }}
      </a>
    </div>
