<body class="bg-dark text-light" style="min-height: 100vh; margin: 0;">
  <nav class="p-3 text-center bg-dark d-flex justify-content-center gap-2" style="max-width: 600px; margin: auto;">
      <a routerLink="/prenota-canzoni" class="btn btn-light flex-fill">Prenota Canzone</a>
    </nav>
  <div class="container mt-4">
    <h2>📚 Archivio Musicale</h2>

    <table class="table table-striped table-dark mt-3">
      <thead>
        <tr>
          <th>🎵 Canzone</th>
          <th>🎤 Artista</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of archivio">
          <td>{{ item.canzone | capitalizeWords }}</td>
          <td>{{ item.artista | capitalizeWords }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
