<div class="home-container">
  <h1 class="titleH1">{{ 'homepage.title' | translate }}</h1>
  <p>{{ 'homepage.subtitle' | translate }}</p>

  <div class="features">
    <div class="feature" [routerLink]="'/prenota-canzoni'" style="cursor: pointer;">
      <h3>{{ 'homepage.feature1_title' | translate }}</h3>
      <p>{{ 'homepage.feature1_text' | translate }}</p>
    </div>
    <div class="feature" [routerLink]="'/lista-canzoni'" style="cursor: pointer;">
      <h3>{{ 'homepage.feature2_title' | translate }}</h3>
      <p>{{ 'homepage.feature2_text' | translate }}</p>
    </div>
    <div class="feature" [routerLink]="'/classifica-top20'" style="cursor: pointer;">
      <h3>{{ 'homepage.feature3_title' | translate }}</h3>
      <p>{{ 'homepage.feature3_text' | translate }}</p>
    </div>
  </div>
</div>
