<nav class="navbar" [class.animate-in]="true">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="logo">
      <!-- inserisci logo se vuoi -->
    </div>

    <!-- Titolo come link alla home -->
    <div class="navbar-title">
      <a routerLink="/" class="navbar-title-link">
        {{ 'navbar.title' | translate }}
      </a>
    </div>

    <!-- Burger menu -->
    <div class="navbar-right right-controls">
      <button
        class="burger"
        (click)="toggleMenu()"
        aria-label="Toggle menu"
        [class.open]="menuOpen"
      >
        <div class="burger-line top"></div>
        <div class="burger-line middle"></div>
        <div class="burger-line bottom"></div>
      </button>
    </div>
  </div>

  <!-- Menù mobile -->
  <ul class="nav-links" [class.open]="menuOpen">
    <li>
      <a href="#" (click)="closeMenu(); goToLogin($event)">
        <i class="fas fa-sign-in-alt"></i> {{ 'navbar.login' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/" (click)="closeMenu()">
        <i class="fas fa-home"></i> {{ 'navbar.home' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/user-profile" (click)="closeMenu()">
        <i class="fas fa-user-circle"></i> {{ 'navbar.profile' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/prenota-canzoni" (click)="closeMenu()">
        <i class="fas fa-microphone-alt"></i> {{ 'navbar.book_song' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/lista-canzoni" (click)="closeMenu()">
        <i class="fas fa-music"></i> {{ 'navbar.queue' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/archivio-musicale" (click)="closeMenu()">
        <i class="fas fa-archive"></i> {{ 'navbar.archive' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/classifica-top20" (click)="closeMenu()">
        <i class="fas fa-trophy"></i> {{ 'navbar.top_20' | translate }}
      </a>
    </li>
    <li>
      <a href="#" (click)="closeMenu(); logout()">
        <i class="fas fa-sign-out-alt"></i> {{ 'navbar.logout' | translate }}
      </a>
    </li>
    <li>
      <button
        class="toggle-darkmode"
        [ngClass]="{ light: !darkMode }"
        (click)="toggleDarkMode()"
      >
        <i class="{{ darkMode ? 'fas fa-moon' : 'fas fa-sun' }}"></i>
        <span>
          {{
            darkMode
              ? ('navbar.dark_mode' | translate)
              : ('navbar.light_mode' | translate)
          }}
        </span>
      </button>
    </li>
    <li class="language-switch">
      <button (click)="switchLanguage('en')" [disabled]="currentLang === 'en'">
        EN
      </button>
      <button (click)="switchLanguage('it')" [disabled]="currentLang === 'it'">
        IT
      </button>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
