@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar.animate-in {
  animation: slideDownFade 0.6s ease-out forwards;
}


.navbar {
  background-color: #222;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.5rem 0;
  height: 60px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.logo-img {
  height: 50px;
  width: auto;
}

.navbar-title h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* Container burger */
.right-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Burger button */
.burger {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  gap: 12px;
  position: relative;
  z-index: 1100;
  left: 6rem;
}

.burger span:last-child {
  font-size: 1.5rem;
}

/* Mobile Menu */
.nav-links {
  position: absolute;
  top: 60px;
  right: 1rem; /* posizionamento sotto al burger */
  background-color: #333;
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: none;
  flex-direction: column;
  width: 220px;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  z-index: 1050;
}

.nav-links.open {
  display: flex;
}

.nav-links li {
  margin: 0.5rem 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Dark mode button */
.toggle-darkmode {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  margin-top: 0.5rem;
}

.toggle-darkmode.light {
  background-color: white;
  color: black;
  border-color: white;
}

.toggle-darkmode:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
