<div class="container mt-4">
  <ng-container *ngIf="username; else notLoggedIn">
    <!-- Profilo utente loggato -->
    <h1>Il tuo profilo.</h1>
    <h4>Benvenuto {{username}} !</h4>

    <div *ngIf="loading">Caricamento dati...</div>

    <div *ngIf="!loading && esibizioni.length === 0">
      <p>Non hai ancora esibizioni registrate.</p>
    </div>

    <div *ngIf="!loading && esibizioni.length > 0">
      <ul>
        <li *ngFor="let e of esibizioni">
          <strong>{{ e.artista }}</strong> - {{ e.canzone }} ({{ e.tonalita }})<br />
          Data: {{ e.data_esibizione | date:'dd/MM/yyyy' }}<br />
          Voti:
          <span *ngFor="let voto of e.voti">
            {{ voto.emoji }} ({{ voto.count }})&nbsp;
          </span>
        </li>
      </ul>
    </div>
  </ng-container>

  <ng-template #notLoggedIn>
    <div class="alert alert-warning text-center">
      <h4>Non sei loggato!</h4>
      <p>Per vedere il tuo profilo devi prima effettuare il login.</p>
      <a routerLink="/login" class="btn btn-primary">Vai al Login</a>
    </div>
  </ng-template>
</div>
