<div class="login-background">
  <div class="login-container">
    <h1 class="login-title">{{ 'login.title' | translate }}</h1>

    <form (ngSubmit)="login('client')" #loginForm="ngForm" class="login-form">

      <div class="form-group">
        <label for="username">{{ 'login.username_label' | translate }}</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          [(ngModel)]="username"
          required />
      </div>

      <div class="form-group">
        <label for="password">{{ 'login.password_label' | translate }}</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          [(ngModel)]="password"
          required />
      </div>

      <div class="form-links">
        <a routerLink="/forgot-password">{{ 'login.forgot_password_link' | translate }}</a>
      </div>

      <button
        type="submit"
        class="btn primary"
        [disabled]="!loginForm.valid">
        {{ 'login.login_button' | translate }}
      </button>

      <button
        type="button"
        class="btn secondary"
        (click)="loginOspite()">
        {{ 'login.guest_button' | translate }}
      </button>

      <div class="signup-section">
        <p>{{ 'login.no_account_text' | translate }}</p>
        <a routerLink="/register" class="btn success">
          {{ 'login.register_button' | translate }}
        </a>
      </div>
    </form>

    <p class="privacy-info">
      <em>{{ 'login.privacy_info' | translate }}</em>
    </p>
  </div>
</div>
