<div class="container mt-5 animated-fade-slide-in">
  <h2>{{ 'chart.title' | translate }}</h2>

  <!-- SPINNER -->
  <div *ngIf="isLoading" class="loading-spinner text-center my-4">
    <i class="fa fa-spinner fa-spin fa-2x text-center"></i>
    <p>{{ 'common.loading' | translate }}</p>
  </div>

  <!-- Tabella solo su schermi larghi -->
  <table class="table my-zebra-table d-none d-md-table" *ngIf="!isLoading && topCanzoni.length > 0; else noData">
    <thead>
      <tr>
        <th class="border-radius-left">{{ 'chart.position' | translate }}</th>
        <th>{{ 'chart.song' | translate }}</th>
        <th>{{ 'chart.artist' | translate }}</th>
        <th>{{ 'chart.requests' | translate }}</th>
        <th class="border-radius-right" *ngIf="isAdmin">{{ 'chart.wishlist' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of topCanzoni; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ c.canzone }}</td>
        <td>{{ c.artista }}</td>
        <td>{{ c.num_richieste }}</td>
        <td *ngIf="isAdmin" class="text-center align-middle">
          <button class="btn btn-danger btn-sm" (click)="eliminaCanzone(c.id)">
            {{ 'chart.delete' | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modalità card per mobile -->
  <div class="d-md-none" *ngIf="!isLoading && topCanzoni.length > 0">
    <div
      class="card mb-3"
      *ngFor="let c of topCanzoni; let i = index"
    >
      <div class="card-body text-center">
        <h5 class="card-title">
          {{ i + 1 }}. {{ c.canzone }}
        </h5>
        <p class="card-text mb-1">
          <strong>{{ 'chart.artist' | translate }}:</strong> {{ c.artista }}
        </p>
        <p class="card-text mb-1">
          <strong>{{ 'chart.requests' | translate }}:</strong> {{ c.num_richieste }}
        </p>
        <div *ngIf="isAdmin" class="text-end mt-2 text-center">
          <button class="btn btn-danger btn-sm" (click)="eliminaCanzone(c.id)">
            {{ 'chart.delete' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noData>
    <div class="alert alert-info mt-3 text-center">
      {{ 'chart.no_data' | translate }}
    </div>
  </ng-template>

 
</div>
 <div class="text-center mt-4 backTolist">
    <a routerLink="/lista-canzoni" class="btn btn-outline-light">
      {{ 'chart.back_to_list' | translate }}
    </a>
  </div>